/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28/11/2015, 04:42:52
    Author     : Aluno
*/

body{
    background-color: #FAFAFA;
}
#um{
    
    height: 50px;
    width: 200px;
    
    
}
#dois{
  position: relative;
    bottom:90px;
    height: 0px;
    width: 200px;
    float: bottom;
	color:black;
}
#esquerda{
    position: relative;
   right:18px;
}



#box{
border:1px solid black;
    height: 600px;
    width: 500px;
background-color: #F5F3F3;
border-radius: 10px;
box-shadow: 1px 1px 3px black;
text-align:center;
position:relative;
top:-110px;
	
}
input[type='text'] {
    background-image: url(../img/iconeUsuario.png);
        background-size: 19px;
        box-shadow: 2px 2px 3px black;
        text-align: center;
    background-position: 7px ;
    background-repeat: no-repeat;
	width: 320px;
	position:relative;
	top:-80px;
	left:90px;
	}
textarea[type='text'] {

     background-position: 7px ;
     text-align: left;
    background-repeat: no-repeat;
    background-size: 20px;
	 height: 320px;
    width: 320px;
	position:relative;
	
	left:90px;
}



#enter{
    position: relative;
    left:10px;
    bottom:-220px;
    width:100px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	
}

#verdana{
    font-family: Verdana;
    font-size: 25px;
}
#imgs{
    border-radius: 100px;
    position: relative;
    bottom:50px;
   
}

h2{
    position: relative;
    bottom:60px;
}
body {
    background-color :midnightblue;
    background-repeat: no-repeat;
    background-size: 100%;
}
